<header class="header" id="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__text">Tigra<span class="accent">-</span>Tix</span>
    </a>

    <nav class="nav" id="nav">
      <ul class="nav__list">
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#advantages" class="nav__link">Преимущества</a></li>
        <li><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li><a href="./#blog" class="nav__link">Блог</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Связаться</a>

    <button class="burger" aria-label="Menu" id="burger">
      <span></span>
    </button>
  </div>
</header>
<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__inner">
    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        <li><a href="./#about" class="mobile-nav__link">О платформе</a></li>
        <li><a href="./#advantages" class="mobile-nav__link">Преимущества</a></li>
        <li><a href="./#innovations" class="mobile-nav__link">Инновации</a></li>
        <li><a href="./#blog" class="mobile-nav__link">Блог</a></li>
        <li><a href="./#contact" class="mobile-nav__link">Связаться</a></li>
      </ul>
    </nav>
    <div class="mobile-menu__footer">
      <p>Tigra-Tix Blog &copy; 2026</p>
      <div class="mobile-menu__socials">
        <i data-lucide="instagram"></i>
        <i data-lucide="linkedin"></i>
      </div>
    </div>
  </div>
</div>